*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.overallWrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #e5e5e5;
    
}
#logoContainer{
    width: 20%;
}

#logoContainer{
     width: 70px;
    
    
}